<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathsolver1.mathsolver10">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add"
            android:label="@string/add"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Sub"
            android:label="@string/sub"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Mul"
            android:label="@string/mul"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Div"
            android:label="@string/div"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Mod"
            android:label="@string/mod"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Fact"
            android:label="@string/fact"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Sqrt"
            android:label="@string/sqrt"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Exp"
            android:label="@string/exp"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Perc"
            android:label="@string/perc"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Areas"
            android:label="@string/areas"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Square"
            android:label="@string/square"
            android:parentActivityName="com.mathsolver1.mathsolver10.Areas">
        </activity>
        <activity
            android:name=".Circle"
            android:label="@string/circle"
            android:parentActivityName="com.mathsolver1.mathsolver10.Areas">
        </activity>
        <activity
            android:name=".Triangle"
            android:label="@string/triangle"
            android:parentActivityName="com.mathsolver1.mathsolver10.Areas">
        </activity>
        <activity
            android:name=".Rect"
            android:label="@string/rectangle"
            android:parentActivityName="com.mathsolver1.mathsolver10.Areas">
        </activity>
        <activity
            android:name=".Trapezoid"
            android:label="@string/trapezoid"
            android:parentActivityName="com.mathsolver1.mathsolver10.Areas">
        </activity>
        <activity
            android:name=".Vol"
            android:label="@string/vol"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Cube"
            android:label="@string/cube"
            android:parentActivityName="com.mathsolver1.mathsolver10.Vol">
        </activity>
        <activity
            android:name=".Cylinder"
            android:label="@string/cylinder"
            android:parentActivityName="com.mathsolver1.mathsolver10.Vol">
        </activity>
        <activity
            android:name=".Pyramid"
            android:label="@string/pyramid"
            android:parentActivityName="com.mathsolver1.mathsolver10.Vol">
        </activity>
        <activity
            android:name=".Cone"
            android:label="@string/cone"
            android:parentActivityName="com.mathsolver1.mathsolver10.Vol">
        </activity>
        <activity
            android:name=".Sphere"
            android:label="@string/sphere"
            android:parentActivityName="com.mathsolver1.mathsolver10.Vol">
        </activity>
        <activity
            android:name=".Conv"
            android:label="@string/conv"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Temperature"
            android:label="@string/temperature"
            android:parentActivityName="com.mathsolver1.mathsolver10.Conv">
        </activity>
        <activity
            android:name=".Length"
            android:label="@string/length"
            android:parentActivityName="com.mathsolver1.mathsolver10.Conv">
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/contact"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".About"
            android:label="@string/about"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
        <activity
            android:name=".Formulas"
            android:label="@string/formulas"
            android:parentActivityName="com.mathsolver1.mathsolver10.Home">
        </activity>
    </application>

</manifest>